@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  /* display: none; */
    width: 5px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(287deg, #fefefe 0.36%, #2164a2 102.06%);
    border-radius: 15px;
    transition: 0.3s ease;
}
